idm/openiam-idm-esb/wsdl/connectorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ConnectorServiceService" targetNamespace="http://www.openiam.org/service/connector" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.openiam.org/service/connector" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.openiam.org/service/connector" xmlns:tns="urn:oasis:names:tc:SPML:2:0:suspend" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:SPML:2:0:suspend" version="1.0">
<xs:import namespace="http://www.openiam.org/service/connector"/>
<xs:element name="activeRequest" type="tns:ActiveRequestType"/>
<xs:element name="activeResponse" type="tns:ActiveResponseType"/>
<xs:element name="isActive" type="tns:IsActiveType"/>
<xs:element name="resumeRequest" type="tns:ResumeRequestType"/>
<xs:element name="resumeResponse" type="ns1:ResponseType"/>
<xs:element name="suspendRequest" type="tns:SuspendRequestType"/>
<xs:element name="suspendResponse" type="ns1:ResponseType"/>
<xs:complexType name="ResumeRequestType">
<xs:complexContent>
<xs:extension base="ns1:RequestType">
<xs:sequence>
<xs:element name="psoID" type="ns1:PSOIdentifierType"/>
</xs:sequence>
<xs:attribute name="effectiveDate" type="xs:dateTime"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="SuspendRequestType">
<xs:complexContent>
<xs:extension base="ns1:RequestType">
<xs:sequence>
<xs:element name="psoID" type="ns1:PSOIdentifierType"/>
</xs:sequence>
<xs:attribute name="effectiveDate" type="xs:dateTime"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ActiveRequestType">
<xs:complexContent>
<xs:extension base="ns1:RequestType">
<xs:sequence>
<xs:element name="psoID" type="ns1:PSOIdentifierType"/>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ActiveResponseType">
<xs:complexContent>
<xs:extension base="ns1:ResponseType">
<xs:sequence/>
<xs:attribute name="active" type="xs:boolean"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="IsActiveType">
<xs:complexContent>
<xs:extension base="ns1:QueryClauseType">
<xs:sequence/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:idm.openiam.org/srvc/continfo/dto" xmlns:ns2="http://www.openiam.org/service/connector" xmlns:tns="urn:idm.openiam.org/srvc/user/dto" elementFormDefault="qualified" targetNamespace="urn:idm.openiam.org/srvc/user/dto" version="1.0">
<xs:import namespace="urn:idm.openiam.org/srvc/continfo/dto"/>
<xs:import namespace="http://www.openiam.org/service/connector"/>
<xs:complexType name="user">
<xs:complexContent>
<xs:extension base="ns2:BaseObject">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="addresses" nillable="true" type="ns1:address"/>
<xs:element minOccurs="0" name="birthdate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="companyId" type="xs:string"/>
<xs:element minOccurs="0" name="companyOwnerId" type="xs:string"/>
<xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createdBy" type="xs:string"/>
<xs:element minOccurs="0" name="deptCd" type="xs:string"/>
<xs:element minOccurs="0" name="deptName" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="emailAddresses" nillable="true" type="ns1:emailAddress"/>
<xs:element minOccurs="0" name="employeeId" type="xs:string"/>
<xs:element minOccurs="0" name="employeeType" type="xs:string"/>
<xs:element minOccurs="0" name="firstName" type="xs:string"/>
<xs:element minOccurs="0" name="jobCode" type="xs:string"/>
<xs:element minOccurs="0" name="lastName" type="xs:string"/>
<xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="lastUpdatedBy" type="xs:string"/>
<xs:element minOccurs="0" name="locationCd" type="xs:string"/>
<xs:element minOccurs="0" name="locationName" type="xs:string"/>
<xs:element minOccurs="0" name="managerId" type="xs:string"/>
<xs:element minOccurs="0" name="metadataTypeId" type="xs:string"/>
<xs:element minOccurs="0" name="classification" type="xs:string"/>
<xs:element minOccurs="0" name="middleInit" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="phones" nillable="true" type="ns1:phone"/>
<xs:element minOccurs="0" name="prefix" type="xs:string"/>
<xs:element minOccurs="0" name="sex" type="xs:string"/>
<xs:element minOccurs="0" name="status" type="tns:UserStatus"/>
<xs:element minOccurs="0" name="secondaryStatus" type="tns:UserStatus"/>
<xs:element minOccurs="0" name="suffix" type="xs:string"/>
<xs:element minOccurs="0" name="title" type="xs:string"/>
<xs:element minOccurs="0" name="userAttributes" type="tns:userAttributeMap"/>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
<xs:element minOccurs="0" name="userTypeInd" type="xs:string"/>
<xs:element minOccurs="0" name="userNotes" type="tns:userNoteSet"/>
<xs:element minOccurs="0" name="division" type="xs:string"/>
<xs:element minOccurs="0" name="costCenter" type="xs:string"/>
<xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="lastDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="mailCode" type="xs:string"/>
<xs:element minOccurs="0" name="nickname" type="xs:string"/>
<xs:element minOccurs="0" name="maidenName" type="xs:string"/>
<xs:element minOccurs="0" name="passwordTheme" type="xs:string"/>
<xs:element minOccurs="0" name="country" type="xs:string"/>
<xs:element minOccurs="0" name="bldgNum" type="xs:string"/>
<xs:element minOccurs="0" name="streetDirection" type="xs:string"/>
<xs:element minOccurs="0" name="suite" type="xs:string"/>
<xs:element minOccurs="0" name="address1" type="xs:string"/>
<xs:element minOccurs="0" name="address2" type="xs:string"/>
<xs:element minOccurs="0" name="address3" type="xs:string"/>
<xs:element minOccurs="0" name="address4" type="xs:string"/>
<xs:element minOccurs="0" name="address5" type="xs:string"/>
<xs:element minOccurs="0" name="address6" type="xs:string"/>
<xs:element minOccurs="0" name="address7" type="xs:string"/>
<xs:element minOccurs="0" name="city" type="xs:string"/>
<xs:element minOccurs="0" name="state" type="xs:string"/>
<xs:element minOccurs="0" name="postalCd" type="xs:string"/>
<xs:element minOccurs="0" name="email" type="xs:string"/>
<xs:element minOccurs="0" name="showInSearch" type="xs:int"/>
<xs:element minOccurs="0" name="delAdmin" type="xs:int"/>
<xs:element minOccurs="0" name="areaCd" type="xs:string"/>
<xs:element minOccurs="0" name="countryCd" type="xs:string"/>
<xs:element minOccurs="0" name="phoneNbr" type="xs:string"/>
<xs:element minOccurs="0" name="phoneExt" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="principalList" nillable="true" type="ns2:Login"/>
<xs:element minOccurs="0" name="supervisor" type="tns:supervisor"/>
<xs:element minOccurs="0" name="alternateContactId" type="xs:string"/>
<xs:element minOccurs="0" name="securityDomain" type="xs:string"/>
<xs:element minOccurs="0" name="userOwnerId" type="xs:string"/>
<xs:element minOccurs="0" name="datePasswordChanged" type="xs:dateTime"/>
<xs:element minOccurs="0" name="dateChallengeRespChanged" type="xs:dateTime"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="userAttributeMap">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="userAttributeEntry" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="userAttribute" type="tns:userAttribute"/>
</xs:sequence>
<xs:attribute name="key" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="userAttribute">
<xs:complexContent>
<xs:extension base="ns2:BaseObject">
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:string"/>
<xs:element minOccurs="0" name="metadataElementId" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
<xs:element minOccurs="0" name="attrGroup" type="xs:string"/>
<xs:element minOccurs="0" name="operation" type="ns2:AttributeOperationEnum"/>
<xs:element minOccurs="0" name="required" type="xs:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="userNoteSet">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="userNoteItem" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="userNote" type="tns:userNote"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="userNote">
<xs:sequence>
<xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createdBy" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="noteType" type="xs:string"/>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
<xs:element minOccurs="0" name="userNoteId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="supervisor">
<xs:sequence>
<xs:element minOccurs="0" name="comments" type="xs:string"/>
<xs:element minOccurs="0" name="employee" type="tns:user"/>
<xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="isPrimarySuper" type="xs:int"/>
<xs:element minOccurs="0" name="orgStructureId" type="xs:string"/>
<xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element minOccurs="0" name="supervisor" type="tns:user"/>
<xs:element minOccurs="0" name="supervisorType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="UserStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="active"/>
<xs:enumeration value="inactive"/>
<xs:enumeration value="pending_start_date"/>
<xs:enumeration value="pending_approval"/>
<xs:enumeration value="approval_declined"/>
<xs:enumeration value="pending_user_validation"/>
<xs:enumeration value="pending_initial_login"/>
<xs:enumeration value="terminate"/>
<xs:enumeration value="deleted"/>
<xs:enumeration value="locked"/>
<xs:enumeration value="locked_admin"/>
<xs:enumeration value="disabled"/>
<xs:enumeration value="retired"/>
<xs:enumeration value="leave"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:idm.openiam.org/srvc/grp/dto" xmlns:ns2="http://www.openiam.org/service/connector" xmlns:tns="urn:idm.openiam.org/srvc/role/dto" elementFormDefault="qualified" targetNamespace="urn:idm.openiam.org/srvc/role/dto" version="1.0">
<xs:import namespace="urn:idm.openiam.org/srvc/grp/dto"/>
<xs:import namespace="http://www.openiam.org/service/connector"/>
<xs:element name="Role" type="tns:role"/>
<xs:complexType name="roleSet">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="roleObj" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="role" type="tns:role"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="role">
<xs:complexContent>
<xs:extension base="ns2:BaseObject">
<xs:sequence>
<xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createdBy" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="groups" type="ns1:groupSet"/>
<xs:element minOccurs="0" name="id" type="tns:roleId"/>
<xs:element minOccurs="0" name="provisionObjName" type="xs:string"/>
<xs:element minOccurs="0" name="parentRoleId" type="xs:string"/>
<xs:element minOccurs="0" name="roleAttributes" type="tns:roleAttributeSet"/>
<xs:element minOccurs="0" name="roleName" type="xs:string"/>
<xs:element name="userAssociationMethod" type="xs:int"/>
<xs:element minOccurs="0" name="metadataTypeId" type="xs:string"/>
<xs:element minOccurs="0" name="ownerId" type="xs:string"/>
<xs:element minOccurs="0" name="inheritFromParent" type="xs:int"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="childRoles" nillable="true" type="tns:role"/>
<xs:element minOccurs="0" name="selected" type="xs:boolean"/>
<xs:element minOccurs="0" name="internalRoleId" type="xs:string"/>
<xs:element minOccurs="0" name="operation" type="ns2:AttributeOperationEnum"/>
<xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="rolePolicy" nillable="true" type="tns:RolePolicy"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="roleId">
<xs:sequence>
<xs:element minOccurs="0" name="roleId" type="xs:string"/>
<xs:element minOccurs="0" name="serviceId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="roleAttributeSet">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="roleAttributeObj" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="roleAttribute" type="tns:roleAttribute"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="roleAttribute">
<xs:sequence>
<xs:element minOccurs="0" name="roleAttrId" type="xs:string"/>
<xs:element minOccurs="0" name="serviceId" type="xs:string"/>
<xs:element minOccurs="0" name="roleId" type="xs:string"/>
<xs:element minOccurs="0" name="metadataElementId" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
<xs:element minOccurs="0" name="attrGroup" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="RolePolicy">
<xs:complexContent>
<xs:extension base="ns2:BaseObject">
<xs:sequence>
<xs:element minOccurs="0" name="rolePolicyId" type="xs:string"/>
<xs:element minOccurs="0" name="serviceId" type="xs:string"/>
<xs:element minOccurs="0" name="roleId" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="value1" type="xs:string"/>
<xs:element minOccurs="0" name="value2" type="xs:string"/>
<xs:element minOccurs="0" name="action" type="xs:string"/>
<xs:element minOccurs="0" name="executionOrder" type="xs:int"/>
<xs:element minOccurs="0" name="policyScript" type="xs:string"/>
<xs:element minOccurs="0" name="actionQualifier" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.openiam.org/service/connector" xmlns:tns="urn:idm.openiam.org/srvc/org/dto" elementFormDefault="qualified" targetNamespace="urn:idm.openiam.org/srvc/org/dto" version="1.0">
<xs:import namespace="http://www.openiam.org/service/connector"/>
<xs:complexType name="organization">
<xs:sequence>
<xs:element minOccurs="0" name="alias" type="xs:string"/>
<xs:element minOccurs="0" name="attributes" type="tns:organizationAttributeMap"/>
<xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createdBy" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="domainName" type="xs:string"/>
<xs:element minOccurs="0" name="ldapStr" type="xs:string"/>
<xs:element minOccurs="0" name="lstUpdate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="lstUpdatedBy" type="xs:string"/>
<xs:element minOccurs="0" name="metadataTypeId" type="xs:string"/>
<xs:element minOccurs="0" name="orgId" type="xs:string"/>
<xs:element minOccurs="0" name="organizationName" type="xs:string"/>
<xs:element minOccurs="0" name="parentId" type="xs:string"/>
<xs:element minOccurs="0" name="classification" type="tns:OrgClassification"/>
<xs:element minOccurs="0" name="internalOrgId" type="xs:string"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element minOccurs="0" name="abbreviation" type="xs:string"/>
<xs:element minOccurs="0" name="symbol" type="xs:string"/>
<xs:element minOccurs="0" name="selected" type="xs:boolean"/>
<xs:element minOccurs="0" name="operation" type="ns1:AttributeOperationEnum"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="organizationAttributeMap">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="organizationAttributeEntry" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="organizationAttribute" type="tns:organizationAttribute"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="organizationAttribute">
<xs:sequence>
<xs:element minOccurs="0" name="attrId" type="xs:string"/>
<xs:element minOccurs="0" name="metadataElementId" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="organizationId" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="OrgClassification">
<xs:restriction base="xs:string">
<xs:enumeration value="organization"/>
<xs:enumeration value="department"/>
<xs:enumeration value="division"/>
<xs:enumeration value="agency"/>
<xs:enumeration value="vendor"/>
<xs:enumeration value="partner"/>
<xs:enumeration value="subsidiary"/>
<xs:enumeration value="customer"/>
<xs:enumeration value="affiliate"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:idm.openiam.org/srvc/role/dto" xmlns:ns2="http://www.openiam.org/service/connector" xmlns:tns="urn:idm.openiam.org/srvc/grp/dto" elementFormDefault="qualified" targetNamespace="urn:idm.openiam.org/srvc/grp/dto" version="1.0">
<xs:import namespace="urn:idm.openiam.org/srvc/role/dto"/>
<xs:import namespace="http://www.openiam.org/service/connector"/>
<xs:element name="Group" type="tns:Group"/>
<xs:complexType name="Group">
<xs:sequence>
<xs:element minOccurs="0" name="roles" type="ns1:roleSet"/>
<xs:element minOccurs="0" name="attributes" type="tns:groupAttributeMap"/>
<xs:element minOccurs="0" name="companyId" type="xs:string"/>
<xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createdBy" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="groupClass" type="xs:string"/>
<xs:element minOccurs="0" name="grpId" type="xs:string"/>
<xs:element minOccurs="0" name="grpName" type="xs:string"/>
<xs:element minOccurs="0" name="inheritFromParent" type="xs:boolean"/>
<xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="lastUpdatedBy" type="xs:string"/>
<xs:element minOccurs="0" name="parentGrpId" type="xs:string"/>
<xs:element minOccurs="0" name="provisionMethod" type="xs:string"/>
<xs:element minOccurs="0" name="provisionObjName" type="xs:string"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="subGroup" nillable="true" type="tns:Group"/>
<xs:element minOccurs="0" name="metadataTypeId" type="xs:string"/>
<xs:element minOccurs="0" name="selected" type="xs:boolean"/>
<xs:element minOccurs="0" name="ownerId" type="xs:string"/>
<xs:element minOccurs="0" name="internalGroupId" type="xs:string"/>
<xs:element minOccurs="0" name="operation" type="ns2:AttributeOperationEnum"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="groupSet">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="groupObj" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="group" type="tns:Group"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="groupAttributeMap">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="groupAttributeEntry" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="groupAttribute" type="tns:GroupAttribute"/>
</xs:sequence>
<xs:attribute name="key" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GroupAttribute">
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
<xs:element minOccurs="0" name="metadataElementId" type="xs:string"/>
<xs:element minOccurs="0" name="groupId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.openiam.org/service/connector" elementFormDefault="qualified" targetNamespace="urn:idm.openiam.org/srvc/continfo/dto" version="1.0">
<xs:import namespace="http://www.openiam.org/service/connector"/>
<xs:complexType name="address">
<xs:sequence>
<xs:element minOccurs="0" name="isActive" type="xs:boolean"/>
<xs:element minOccurs="0" name="bldgNumber" type="xs:string"/>
<xs:element minOccurs="0" name="streetDirection" type="xs:string"/>
<xs:element minOccurs="0" name="suite" type="xs:string"/>
<xs:element minOccurs="0" name="address1" type="xs:string"/>
<xs:element minOccurs="0" name="address2" type="xs:string"/>
<xs:element minOccurs="0" name="address3" type="xs:string"/>
<xs:element minOccurs="0" name="address4" type="xs:string"/>
<xs:element minOccurs="0" name="address5" type="xs:string"/>
<xs:element minOccurs="0" name="address6" type="xs:string"/>
<xs:element minOccurs="0" name="address7" type="xs:string"/>
<xs:element minOccurs="0" name="addressId" type="xs:string"/>
<xs:element minOccurs="0" name="city" type="xs:string"/>
<xs:element minOccurs="0" name="country" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="isDefault" type="xs:int"/>
<xs:element minOccurs="0" name="parentId" type="xs:string"/>
<xs:element minOccurs="0" name="parentType" type="xs:string"/>
<xs:element minOccurs="0" name="postalCd" type="xs:string"/>
<xs:element minOccurs="0" name="state" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="operation" type="ns1:AttributeOperationEnum"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="emailAddress">
<xs:sequence>
<xs:element minOccurs="0" name="isActive" type="xs:boolean"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="emailAddress" type="xs:string"/>
<xs:element minOccurs="0" name="emailId" type="xs:string"/>
<xs:element minOccurs="0" name="isDefault" type="xs:int"/>
<xs:element minOccurs="0" name="parentId" type="xs:string"/>
<xs:element minOccurs="0" name="parentType" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="operation" type="ns1:AttributeOperationEnum"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="phone">
<xs:sequence>
<xs:element minOccurs="0" name="isActive" type="xs:boolean"/>
<xs:element minOccurs="0" name="areaCd" type="xs:string"/>
<xs:element minOccurs="0" name="countryCd" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="isDefault" type="xs:int"/>
<xs:element minOccurs="0" name="parentId" type="xs:string"/>
<xs:element minOccurs="0" name="parentType" type="xs:string"/>
<xs:element minOccurs="0" name="phoneExt" type="xs:string"/>
<xs:element minOccurs="0" name="phoneId" type="xs:string"/>
<xs:element minOccurs="0" name="phoneNbr" type="xs:string"/>
<xs:element minOccurs="0" name="phoneType" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="operation" type="ns1:AttributeOperationEnum"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addressMap">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="addressEntry" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:ns2="urn:idm.openiam.org/srvc/continfo/dto" minOccurs="0" name="address" type="ns2:address"/>
</xs:sequence>
<xs:attribute name="key" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="phoneMap">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="phoneEntry" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:ns3="urn:idm.openiam.org/srvc/continfo/dto" minOccurs="0" name="phone" type="ns3:phone"/>
</xs:sequence>
<xs:attribute name="key" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="emailAddressMap">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="emailAddressEntry" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:ns4="urn:idm.openiam.org/srvc/continfo/dto" minOccurs="0" name="emailAddress" type="ns4:emailAddress"/>
</xs:sequence>
<xs:attribute name="key" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.openiam.org/service/connector" xmlns:ns2="urn:idm.openiam.org/srvc/continfo/dto" xmlns:ns3="urn:idm.openiam.org/srvc/grp/dto" xmlns:ns4="urn:idm.openiam.org/srvc/role/dto" xmlns:tns="http://www.openiam.org/service/types" elementFormDefault="qualified" targetNamespace="http://www.openiam.org/service/types" version="1.0">
<xs:import namespace="http://www.openiam.org/service/connector"/>
<xs:import namespace="urn:idm.openiam.org/srvc/continfo/dto"/>
<xs:import namespace="urn:idm.openiam.org/srvc/grp/dto"/>
<xs:import namespace="urn:idm.openiam.org/srvc/role/dto"/>
<xs:element name="extensibleObject" type="tns:ExtensibleObject"/>
<xs:element name="extensibleUser" type="tns:ExtensibleUser"/>
<xs:complexType name="ExtensibleAttribute">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
<xs:element minOccurs="0" name="metadataElementId" type="xs:string"/>
<xs:element name="operation" type="xs:int"/>
<xs:element name="multivalued" type="xs:boolean"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="valueList" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="dataType" type="xs:string"/>
<xs:element minOccurs="0" name="objectType" type="xs:string"/>
<xs:element minOccurs="0" name="attributeContainer" type="ns1:BaseAttributeContainer"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ExtensibleUser">
<xs:complexContent>
<xs:extension base="tns:ExtensibleObject">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="address" nillable="true" type="tns:ExtensibleAddress"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="phone" nillable="true" type="tns:ExtensiblePhone"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="email" nillable="true" type="tns:ExtensibleEmailAddress"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="group" nillable="true" type="tns:ExtensibleGroup"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="role" nillable="true" type="tns:ExtensibleRole"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ExtensibleObject">
<xs:sequence>
<xs:element minOccurs="0" name="objectId" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element name="operation" type="xs:int"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="attributes" nillable="true" type="tns:ExtensibleAttribute"/>
<xs:element minOccurs="0" name="principalFieldName" type="xs:string"/>
<xs:element minOccurs="0" name="principalFieldDataType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ExtensibleAddress">
<xs:complexContent>
<xs:extension base="tns:ExtensibleObject">
<xs:sequence>
<xs:element minOccurs="0" name="address" type="ns2:address"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ExtensiblePhone">
<xs:complexContent>
<xs:extension base="tns:ExtensibleObject">
<xs:sequence>
<xs:element minOccurs="0" name="phone" type="ns2:phone"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ExtensibleEmailAddress">
<xs:complexContent>
<xs:extension base="tns:ExtensibleObject">
<xs:sequence>
<xs:element minOccurs="0" name="emailAddress" type="ns2:emailAddress"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ExtensibleGroup">
<xs:complexContent>
<xs:extension base="tns:ExtensibleObject">
<xs:sequence>
<xs:element minOccurs="0" name="group" type="ns3:Group"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ExtensibleRole">
<xs:complexContent>
<xs:extension base="tns:ExtensibleObject">
<xs:sequence>
<xs:element minOccurs="0" name="role" type="ns4:role"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.openiam.org/service/types" xmlns:ns2="urn:idm.openiam.org/srvc/grp/dto" xmlns:ns3="urn:idm.openiam.org/srvc/role/dto" xmlns:ns4="urn:idm.openiam.org/srvc/org/dto" xmlns:ns5="urn:idm.openiam.org/srvc/user/dto" xmlns:ns6="urn:oasis:names:tc:SPML:2:0:suspend" xmlns:tns="http://www.openiam.org/service/connector" elementFormDefault="unqualified" targetNamespace="http://www.openiam.org/service/connector" version="1.0">
<xs:import namespace="http://www.openiam.org/service/types"/>
<xs:import namespace="urn:idm.openiam.org/srvc/grp/dto"/>
<xs:import namespace="urn:idm.openiam.org/srvc/role/dto"/>
<xs:import namespace="urn:idm.openiam.org/srvc/org/dto"/>
<xs:import namespace="urn:idm.openiam.org/srvc/user/dto"/>
<xs:import namespace="urn:oasis:names:tc:SPML:2:0:suspend"/>
<xs:element name="add" type="tns:add"/>
<xs:element name="addRequest" type="tns:AddRequestType"/>
<xs:element name="addResponse" nillable="true" type="xs:anyType"/>
<xs:element name="delete" type="tns:delete"/>
<xs:element name="deleteRequest" type="tns:DeleteRequestType"/>
<xs:element name="deleteResponse" nillable="true" type="xs:anyType"/>
<xs:element name="expirePassword" type="tns:expirePassword"/>
<xs:element name="expirePasswordRequest" type="tns:ExpirePasswordRequestType"/>
<xs:element name="expirePasswordResponse" nillable="true" type="xs:anyType"/>
<xs:element name="listTargetsRequest" type="tns:ListTargetsRequestType"/>
<xs:element name="listTargetsResponse" type="tns:ListTargetsResponseType"/>
<xs:element name="lookup" type="tns:lookup"/>
<xs:element name="lookupRequest" type="tns:LookupRequestType"/>
<xs:element name="lookupResponse" nillable="true" type="xs:anyType"/>
<xs:element name="modify" type="tns:modify"/>
<xs:element name="modifyRequest" type="tns:ModifyRequestType"/>
<xs:element name="modifyResponse" nillable="true" type="xs:anyType"/>
<xs:element name="reconcileResource" type="tns:reconcileResource"/>
<xs:element name="reconcileResourceResponse" type="tns:reconcileResourceResponse"/>
<xs:element name="resetPassword" type="tns:resetPassword"/>
<xs:element name="resetPasswordRequest" type="tns:ResetPasswordRequestType"/>
<xs:element name="resetPasswordResponse" nillable="true" type="xs:anyType"/>
<xs:element name="resume" type="tns:resume"/>
<xs:element name="resumeResponse" type="tns:resumeResponse"/>
<xs:element name="select" type="tns:SelectionType"/>
<xs:element name="setPassword" type="tns:setPassword"/>
<xs:element name="setPasswordRequest" type="tns:SetPasswordRequestType"/>
<xs:element name="setPasswordResponse" nillable="true" type="xs:anyType"/>
<xs:element name="suspend" type="tns:suspend"/>
<xs:element name="suspendResponse" type="tns:suspendResponse"/>
<xs:element name="testConnection" type="tns:testConnection"/>
<xs:element name="testConnectionResponse" type="tns:testConnectionResponse"/>
<xs:element name="validatePassword" type="tns:validatePassword"/>
<xs:element name="validatePasswordRequest" type="tns:ValidatePasswordRequestType"/>
<xs:element name="validatePasswordResponse" nillable="true" type="xs:anyType"/>
<xs:complexType name="add">
<xs:sequence>
<xs:element minOccurs="0" name="reqType" type="tns:AddRequestType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AddRequestType">
<xs:complexContent>
<xs:extension base="tns:RequestType">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="psoID" type="tns:PSOIdentifierType"/>
<xs:element form="qualified" minOccurs="0" name="containerID" type="tns:PSOIdentifierType"/>
<xs:element form="qualified" name="data" type="tns:ExtensibleType"/>
<xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="capabilityData" nillable="true" type="tns:CapabilityDataType"/>
</xs:sequence>
<xs:attribute name="targetID" type="xs:string"/>
<xs:attribute name="returnData" type="tns:ReturnDataType"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="RequestType">
<xs:complexContent>
<xs:extension base="tns:ExtensibleType">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="pUser" type="tns:ProvisionUser"/>
</xs:sequence>
<xs:attribute name="requestID" type="xs:ID"/>
<xs:attribute name="executionMode" type="tns:ExecutionModeType"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ExtensibleType">
<xs:sequence>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
</xs:sequence>
<xs:attribute name="errorMessage" type="xs:string"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:complexType>
<xs:complexType name="PSOIdentifierType">
<xs:complexContent>
<xs:extension base="tns:IdentifierType">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="containerID" type="tns:PSOIdentifierType"/>
</xs:sequence>
<xs:attribute name="targetID" type="xs:string"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="IdentifierType">
<xs:complexContent>
<xs:extension base="tns:ExtensibleType">
<xs:sequence/>
<xs:attribute name="ID" type="xs:string"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="CapabilityType">
<xs:complexContent>
<xs:extension base="tns:ExtensibleType">
<xs:sequence>
<xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="appliesTo" nillable="true" type="tns:SchemaEntityRefType"/>
</xs:sequence>
<xs:attribute name="namespaceURI" type="xs:anyURI"/>
<xs:attribute name="location" type="xs:anyURI"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="SchemaEntityRefType">
<xs:complexContent>
<xs:extension base="tns:ExtensibleType">
<xs:sequence/>
<xs:attribute name="targetID" type="xs:string"/>
<xs:attribute name="entityName" type="xs:string"/>
<xs:attribute name="isContainer" type="xs:boolean"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ModificationType">
<xs:complexContent>
<xs:extension base="tns:ExtensibleType">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="component" type="tns:SelectionType"/>
<xs:element form="qualified" minOccurs="0" name="data" type="tns:ExtensibleType"/>
<xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="capabilityData" nillable="true" type="tns:CapabilityDataType"/>
</xs:sequence>
<xs:attribute name="modificationMode" type="tns:ModificationModeType"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="SelectionType">
<xs:complexContent>
<xs:extension base="tns:QueryClauseType">
<xs:sequence>
<xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="namespacePrefixMap" nillable="true" type="tns:NamespacePrefixMappingType"/>
</xs:sequence>
<xs:attribute name="path" type="xs:string" use="required"/>
<xs:attribute name="namespaceURI" type="xs:string" use="required"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="QueryClauseType">
<xs:complexContent>
<xs:extension base="tns:ExtensibleType">
<xs:sequence/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="NamespacePrefixMappingType">
<xs:complexContent>
<xs:extension base="tns:ExtensibleType">
<xs:sequence/>
<xs:attribute name="prefix" type="xs:string" use="required"/>
<xs:attribute name="namespace" type="xs:string" use="required"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="CapabilityDataType">
<xs:complexContent>
<xs:extension base="tns:ExtensibleType">
<xs:sequence/>
<xs:attribute name="mustUnderstand" type="xs:boolean"/>
<xs:attribute name="capabilityURI" type="xs:anyURI"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ModifyResponseType">
<xs:complexContent>
<xs:extension base="tns:ResponseType">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="pso" type="tns:PSOType"/>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ResponseType">
<xs:complexContent>
<xs:extension base="tns:ExtensibleType">
<xs:all/>
<xs:attribute name="status" type="tns:StatusCodeType" use="required"/>
<xs:attribute name="requestID" type="xs:ID"/>
<xs:attribute name="error" type="tns:ErrorCode"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="PSOType">
<xs:complexContent>
<xs:extension base="tns:ExtensibleType">
<xs:sequence>
<xs:element form="qualified" name="psoID" type="tns:PSOIdentifierType"/>
<xs:element form="qualified" minOccurs="0" name="data" type="tns:ExtensibleType"/>
<xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="capabilityData" nillable="true" type="tns:CapabilityDataType"/>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="AddResponseType">
<xs:complexContent>
<xs:extension base="tns:ResponseType">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="pso" type="tns:PSOType"/>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ListTargetsResponseType">
<xs:complexContent>
<xs:extension base="tns:ResponseType">
<xs:sequence>
<xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="target" nillable="true" type="tns:TargetType"/>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TargetType">
<xs:complexContent>
<xs:extension base="tns:ExtensibleType">
<xs:sequence>
<xs:element form="qualified" maxOccurs="unbounded" name="schema" type="tns:SchemaType"/>
<xs:element form="qualified" minOccurs="0" name="capabilities" type="tns:CapabilitiesListType"/>
</xs:sequence>
<xs:attribute name="targetID" type="xs:string"/>
<xs:attribute name="profile" type="xs:anyURI"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="SchemaType">
<xs:complexContent>
<xs:extension base="tns:ExtensibleType">
<xs:sequence>
<xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="supportedSchemaEntity" nillable="true" type="tns:SchemaEntityRefType"/>
</xs:sequence>
<xs:attribute name="ref" type="xs:anyURI"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="CapabilitiesListType">
<xs:complexContent>
<xs:extension base="tns:ExtensibleType">
<xs:sequence>
<xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="capability" nillable="true" type="tns:CapabilityType"/>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="LookupResponseType">
<xs:complexContent>
<xs:extension base="tns:ResponseType">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="pso" type="tns:PSOType"/>
<xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="attributeList" nillable="true" type="ns1:ExtensibleAttribute"/>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="BaseAttributeContainer">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="attributeList" nillable="true" type="tns:BaseAttribute"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="BaseAttribute">
<xs:sequence>
<xs:element minOccurs="0" name="attributeId" type="xs:string"/>
<xs:element minOccurs="0" name="selected" type="xs:boolean"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
<xs:element minOccurs="0" name="parentId" type="xs:string"/>
<xs:element minOccurs="0" name="operationEnum" type="tns:AttributeOperationEnum"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="arrayList">
<xs:complexContent>
<xs:extension base="tns:abstractList">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType abstract="true" name="abstractList">
<xs:complexContent>
<xs:extension base="tns:abstractCollection">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType abstract="true" name="abstractCollection">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="ListTargetsRequestType">
<xs:complexContent>
<xs:extension base="tns:RequestType">
<xs:sequence/>
<xs:attribute name="profile" type="xs:anyURI"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ProvisionUser">
<xs:complexContent>
<xs:extension base="ns5:user">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="memberOfGroups" nillable="true" type="ns2:Group"/>
<xs:element minOccurs="0" name="requestId" type="xs:string"/>
<xs:element minOccurs="0" name="sessionId" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="memberOfRoles" nillable="true" type="ns3:role"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="userResourceList" nillable="true" type="tns:UserResourceAssociation"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="userAffiliations" nillable="true" type="ns4:organization"/>
<xs:element minOccurs="0" name="srcSystemId" type="xs:string"/>
<xs:element minOccurs="0" name="provisionModel" type="tns:ProvisionModelEnum"/>
<xs:element name="notifyTargetSystems" type="xs:boolean"/>
<xs:element name="emailCredentialsToNewUsers" type="xs:boolean"/>
<xs:element name="emailCredentialsToSupervisor" type="xs:boolean"/>
<xs:element name="provisionOnStartDate" type="xs:boolean"/>
<xs:element name="addInitialPasswordToHistory" type="xs:boolean"/>
<xs:element minOccurs="0" name="passwordPolicy" type="tns:Policy"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
<xs:element name="skipPreprocessor" type="xs:boolean"/>
<xs:element name="skipPostProcessor" type="xs:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="BaseObject">
<xs:sequence>
<xs:element minOccurs="0" name="objectState" type="xs:string"/>
<xs:element minOccurs="0" name="selected" type="xs:boolean"/>
<xs:element minOccurs="0" name="requestorLogin" type="xs:string"/>
<xs:element minOccurs="0" name="requestorDomain" type="xs:string"/>
<xs:element minOccurs="0" name="requestClientIP" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="UserResourceAssociation">
<xs:sequence>
<xs:element minOccurs="0" name="resourceId" type="xs:string"/>
<xs:element minOccurs="0" name="resourceName" type="xs:string"/>
<xs:element minOccurs="0" name="managedSystemId" type="xs:string"/>
<xs:element minOccurs="0" name="operation" type="tns:AttributeOperationEnum"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Policy">
<xs:sequence>
<xs:element minOccurs="0" name="policyId" type="xs:string"/>
<xs:element minOccurs="0" name="policyDefId" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="status" type="xs:int"/>
<xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createdBy" type="xs:string"/>
<xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="lastUpdatedBy" type="xs:string"/>
<xs:element minOccurs="0" name="rule" type="xs:string"/>
<xs:element minOccurs="0" name="ruleSrcUrl" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="policyMemberships" nillable="true" type="tns:PolicyMembership"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="policyAttributes" nillable="true" type="tns:PolicyAttribute"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PolicyMembership">
<xs:sequence>
<xs:element minOccurs="0" name="policyMemId" type="xs:string"/>
<xs:element minOccurs="0" name="policyId" type="xs:string"/>
<xs:element minOccurs="0" name="domainId" type="xs:string"/>
<xs:element minOccurs="0" name="resourceType" type="xs:string"/>
<xs:element minOccurs="0" name="resourceObjId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PolicyAttribute">
<xs:sequence>
<xs:element minOccurs="0" name="policyAttrId" type="xs:string"/>
<xs:element minOccurs="0" name="policyId" type="xs:string"/>
<xs:element minOccurs="0" name="defParamId" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="operation" type="xs:string"/>
<xs:element minOccurs="0" name="value1" type="xs:string"/>
<xs:element minOccurs="0" name="value2" type="xs:string"/>
<xs:element minOccurs="0" name="rule" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Login">
<xs:sequence>
<xs:element minOccurs="0" name="id" type="tns:LoginId"/>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
<xs:element minOccurs="0" name="pwdEquivalentToken" type="xs:string"/>
<xs:element minOccurs="0" name="pwdChanged" type="xs:dateTime"/>
<xs:element minOccurs="0" name="pwdExp" type="xs:dateTime"/>
<xs:element name="firstTimeLogin" type="xs:int"/>
<xs:element name="resetPassword" type="xs:int"/>
<xs:element name="isLocked" type="xs:int"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element minOccurs="0" name="gracePeriod" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createdBy" type="xs:string"/>
<xs:element minOccurs="0" name="currentLoginHost" type="xs:string"/>
<xs:element minOccurs="0" name="authFailCount" type="xs:int"/>
<xs:element minOccurs="0" name="lastAuthAttempt" type="xs:dateTime"/>
<xs:element minOccurs="0" name="canonicalName" type="xs:string"/>
<xs:element minOccurs="0" name="lastLogin" type="xs:dateTime"/>
<xs:element minOccurs="0" name="isDefault" type="xs:int"/>
<xs:element name="selected" type="xs:boolean"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="loginAttributes" nillable="true" type="tns:LoginAttribute"/>
<xs:element minOccurs="0" name="passwordChangeCount" type="xs:int"/>
<xs:element minOccurs="0" name="operation" type="tns:AttributeOperationEnum"/>
<xs:element minOccurs="0" name="origPrincipalName" type="xs:string"/>
<xs:element minOccurs="0" name="managedSysName" type="xs:string"/>
<xs:element minOccurs="0" name="lastLoginIP" type="xs:string"/>
<xs:element minOccurs="0" name="prevLoginIP" type="xs:string"/>
<xs:element minOccurs="0" name="prevLogin" type="xs:dateTime"/>
<xs:element minOccurs="0" name="pswdResetToken" type="xs:string"/>
<xs:element minOccurs="0" name="pswdResetTokenExp" type="xs:dateTime"/>
<xs:element minOccurs="0" name="loginAttrInTargetSystem" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LoginId">
<xs:sequence>
<xs:element minOccurs="0" name="domainId" type="xs:string"/>
<xs:element minOccurs="0" name="login" type="xs:string"/>
<xs:element minOccurs="0" name="managedSysId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LoginAttribute">
<xs:sequence>
<xs:element minOccurs="0" name="loginAttrId" type="xs:string"/>
<xs:element minOccurs="0" name="domainId" type="xs:string"/>
<xs:element minOccurs="0" name="login" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
<xs:element minOccurs="0" name="metadataId" type="xs:string"/>
<xs:element minOccurs="0" name="attrGroup" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Subject">
<xs:sequence>
<xs:element name="readOnly" type="xs:boolean"/>
<xs:element name="expirationTime" type="xs:long"/>
<xs:element name="resultCode" type="xs:int"/>
<xs:element minOccurs="0" name="saml" type="xs:string"/>
<xs:element minOccurs="0" name="samlType" type="xs:string"/>
<xs:element name="daysToPwdExp" type="xs:int"/>
<xs:element minOccurs="0" name="domainId" type="xs:string"/>
<xs:element minOccurs="0" name="ssoToken" type="tns:SSOToken"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="groups" nillable="true" type="xs:anyType"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="xs:anyType"/>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
<xs:element minOccurs="0" name="principal" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="principals" nillable="true" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SSOToken">
<xs:sequence>
<xs:element minOccurs="0" name="tokenType" type="xs:string"/>
<xs:element minOccurs="0" name="token" type="xs:string"/>
<xs:element minOccurs="0" name="authLevel" type="xs:string"/>
<xs:element minOccurs="0" name="provider" type="xs:string"/>
<xs:element minOccurs="0" name="clientIP" type="xs:string"/>
<xs:element minOccurs="0" name="principal" type="xs:string"/>
<xs:element name="maxIdleTime" type="xs:int"/>
<xs:element minOccurs="0" name="expirationTime" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createTime" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LookupRequestType">
<xs:complexContent>
<xs:extension base="tns:RequestType">
<xs:sequence>
<xs:element form="qualified" name="psoID" type="tns:PSOIdentifierType"/>
</xs:sequence>
<xs:attribute name="returnData" type="tns:ReturnDataType"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="DeleteRequestType">
<xs:complexContent>
<xs:extension base="tns:RequestType">
<xs:sequence>
<xs:element form="qualified" name="psoID" type="tns:PSOIdentifierType"/>
</xs:sequence>
<xs:attribute name="recursive" type="xs:boolean"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ModifyRequestType">
<xs:complexContent>
<xs:extension base="tns:RequestType">
<xs:sequence>
<xs:element form="qualified" name="psoID" type="tns:PSOIdentifierType"/>
<xs:element form="qualified" maxOccurs="unbounded" name="modification" type="tns:ModificationType"/>
</xs:sequence>
<xs:attribute name="returnData" type="tns:ReturnDataType"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="addResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:AddResponseType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="resume">
<xs:sequence>
<xs:element minOccurs="0" name="request" type="ns6:ResumeRequestType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="resumeResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:ResponseType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="reconcileResource">
<xs:sequence>
<xs:element minOccurs="0" name="config" type="tns:ReconciliationConfig"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReconciliationConfig">
<xs:sequence>
<xs:element minOccurs="0" name="reconConfigId" type="xs:string"/>
<xs:element minOccurs="0" name="resourceId" type="xs:string"/>
<xs:element minOccurs="0" name="frequency" type="xs:string"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="situationSet" nillable="true" type="tns:ReconciliationSituation"/>
<xs:element minOccurs="0" name="reportPath" type="xs:string"/>
<xs:element minOccurs="0" name="separator" type="xs:string"/>
<xs:element minOccurs="0" name="endOfLine" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="userList" nillable="true" type="tns:userWrapperEntity"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReconciliationSituation">
<xs:sequence>
<xs:element minOccurs="0" name="reconSituationId" type="xs:string"/>
<xs:element minOccurs="0" name="reconConfigId" type="xs:string"/>
<xs:element minOccurs="0" name="situation" type="xs:string"/>
<xs:element minOccurs="0" name="situationResp" type="xs:string"/>
<xs:element minOccurs="0" name="script" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="userWrapperEntity">
<xs:sequence>
<xs:element minOccurs="0" name="address1" type="xs:string"/>
<xs:element minOccurs="0" name="address2" type="xs:string"/>
<xs:element minOccurs="0" name="address3" type="xs:string"/>
<xs:element minOccurs="0" name="address4" type="xs:string"/>
<xs:element minOccurs="0" name="address5" type="xs:string"/>
<xs:element minOccurs="0" name="address6" type="xs:string"/>
<xs:element minOccurs="0" name="address7" type="xs:string"/>
<xs:element minOccurs="0" name="alternateContactId" type="xs:string"/>
<xs:element minOccurs="0" name="areaCd" type="xs:string"/>
<xs:element minOccurs="0" name="birthdate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="bldgNum" type="xs:string"/>
<xs:element minOccurs="0" name="city" type="xs:string"/>
<xs:element minOccurs="0" name="classification" type="xs:string"/>
<xs:element minOccurs="0" name="companyId" type="xs:string"/>
<xs:element minOccurs="0" name="companyOwnerId" type="xs:string"/>
<xs:element minOccurs="0" name="costCenter" type="xs:string"/>
<xs:element minOccurs="0" name="country" type="xs:string"/>
<xs:element minOccurs="0" name="countryCd" type="xs:string"/>
<xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createdBy" type="xs:string"/>
<xs:element minOccurs="0" name="dateChallengeRespChanged" type="xs:dateTime"/>
<xs:element minOccurs="0" name="datePasswordChanged" type="xs:dateTime"/>
<xs:element minOccurs="0" name="delAdmin" type="xs:int"/>
<xs:element minOccurs="0" name="deptCd" type="xs:string"/>
<xs:element minOccurs="0" name="deptName" type="xs:string"/>
<xs:element minOccurs="0" name="division" type="xs:string"/>
<xs:element minOccurs="0" name="email" type="xs:string"/>
<xs:element minOccurs="0" name="employeeId" type="xs:string"/>
<xs:element minOccurs="0" name="employeeType" type="xs:string"/>
<xs:element minOccurs="0" name="firstName" type="xs:string"/>
<xs:element minOccurs="0" name="jobCode" type="xs:string"/>
<xs:element minOccurs="0" name="lastDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="lastName" type="xs:string"/>
<xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="lastUpdatedBy" type="xs:string"/>
<xs:element minOccurs="0" name="locationCd" type="xs:string"/>
<xs:element minOccurs="0" name="locationName" type="xs:string"/>
<xs:element minOccurs="0" name="maidenName" type="xs:string"/>
<xs:element minOccurs="0" name="mailCode" type="xs:string"/>
<xs:element minOccurs="0" name="managerId" type="xs:string"/>
<xs:element minOccurs="0" name="metadataTypeId" type="xs:string"/>
<xs:element minOccurs="0" name="middleInit" type="xs:string"/>
<xs:element minOccurs="0" name="nickname" type="xs:string"/>
<xs:element minOccurs="0" name="passwordTheme" type="xs:string"/>
<xs:element minOccurs="0" name="phoneExt" type="xs:string"/>
<xs:element minOccurs="0" name="phoneNbr" type="xs:string"/>
<xs:element minOccurs="0" name="postalCd" type="xs:string"/>
<xs:element minOccurs="0" name="prefix" type="xs:string"/>
<xs:element minOccurs="0" name="secondaryStatus" type="ns5:UserStatus"/>
<xs:element minOccurs="0" name="sex" type="xs:string"/>
<xs:element minOccurs="0" name="showInSearch" type="xs:int"/>
<xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="state" type="xs:string"/>
<xs:element minOccurs="0" name="status" type="ns5:UserStatus"/>
<xs:element minOccurs="0" name="streetDirection" type="xs:string"/>
<xs:element minOccurs="0" name="suffix" type="xs:string"/>
<xs:element minOccurs="0" name="suite" type="xs:string"/>
<xs:element minOccurs="0" name="title" type="xs:string"/>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
<xs:element minOccurs="0" name="userOwnerId" type="xs:string"/>
<xs:element minOccurs="0" name="userTypeInd" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="reconcileResourceResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:ResponseType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="testConnection">
<xs:sequence>
<xs:element minOccurs="0" name="managedSys" type="tns:ManagedSys"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ManagedSys">
<xs:sequence>
<xs:element minOccurs="0" name="managedSysId" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element minOccurs="0" name="connectorId" type="xs:string"/>
<xs:element minOccurs="0" name="domainId" type="xs:string"/>
<xs:element minOccurs="0" name="hostUrl" type="xs:string"/>
<xs:element minOccurs="0" name="port" type="xs:int"/>
<xs:element minOccurs="0" name="commProtocol" type="xs:string"/>
<xs:element minOccurs="0" name="userId" type="xs:string"/>
<xs:element minOccurs="0" name="pswd" type="xs:string"/>
<xs:element minOccurs="0" name="decryptPassword" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="resourceId" type="xs:string"/>
<xs:element minOccurs="0" name="primaryRepository" type="xs:int"/>
<xs:element minOccurs="0" name="secondaryRepositoryId" type="xs:string"/>
<xs:element minOccurs="0" name="updateSecondary" type="xs:int"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="mngSysObjectMatchs" nillable="true" type="tns:ManagedSystemObjectMatch"/>
<xs:element minOccurs="0" name="driverUrl" type="xs:string"/>
<xs:element minOccurs="0" name="connectionString" type="xs:string"/>
<xs:element minOccurs="0" name="addHandler" type="xs:string"/>
<xs:element minOccurs="0" name="modifyHandler" type="xs:string"/>
<xs:element minOccurs="0" name="deleteHandler" type="xs:string"/>
<xs:element minOccurs="0" name="passwordHandler" type="xs:string"/>
<xs:element minOccurs="0" name="suspendHandler" type="xs:string"/>
<xs:element minOccurs="0" name="searchHandler" type="xs:string"/>
<xs:element minOccurs="0" name="lookupHandler" type="xs:string"/>
<xs:element minOccurs="0" name="testConnectionHandler" type="xs:string"/>
<xs:element minOccurs="0" name="reconcileResourceHandler" type="xs:string"/>
<xs:element minOccurs="0" name="handler5" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ManagedSystemObjectMatch">
<xs:sequence>
<xs:element minOccurs="0" name="objectSearchId" type="xs:string"/>
<xs:element minOccurs="0" name="managedSys" type="xs:string"/>
<xs:element minOccurs="0" name="objectType" type="xs:string"/>
<xs:element minOccurs="0" name="matchMethod" type="xs:string"/>
<xs:element minOccurs="0" name="searchFilter" type="xs:string"/>
<xs:element minOccurs="0" name="baseDn" type="xs:string"/>
<xs:element minOccurs="0" name="searchBaseDn" type="xs:string"/>
<xs:element minOccurs="0" name="keyField" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="testConnectionResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:ResponseType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="expirePassword">
<xs:sequence>
<xs:element minOccurs="0" name="request" type="tns:ExpirePasswordRequestType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ExpirePasswordRequestType">
<xs:complexContent>
<xs:extension base="tns:RequestType">
<xs:sequence>
<xs:element form="qualified" name="psoID" type="tns:PSOIdentifierType"/>
</xs:sequence>
<xs:attribute name="remainingLogins" type="xs:int"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="expirePasswordResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:ResponseType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="lookup">
<xs:sequence>
<xs:element minOccurs="0" name="reqType" type="tns:LookupRequestType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="lookupResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:LookupResponseType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="delete">
<xs:sequence>
<xs:element minOccurs="0" name="reqType" type="tns:DeleteRequestType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:ResponseType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="validatePassword">
<xs:sequence>
<xs:element minOccurs="0" name="request" type="tns:ValidatePasswordRequestType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ValidatePasswordRequestType">
<xs:complexContent>
<xs:extension base="tns:RequestType">
<xs:sequence>
<xs:element form="qualified" name="psoID" type="tns:PSOIdentifierType"/>
<xs:element form="qualified" name="password" type="xs:string"/>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="validatePasswordResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:ValidatePasswordResponseType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ValidatePasswordResponseType">
<xs:complexContent>
<xs:extension base="tns:ResponseType">
<xs:sequence/>
<xs:attribute name="valid" type="xs:boolean"/>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="suspend">
<xs:sequence>
<xs:element minOccurs="0" name="request" type="ns6:SuspendRequestType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="suspendResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:ResponseType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="modify">
<xs:sequence>
<xs:element minOccurs="0" name="reqType" type="tns:ModifyRequestType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="modifyResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:ModifyResponseType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="setPassword">
<xs:sequence>
<xs:element minOccurs="0" name="request" type="tns:SetPasswordRequestType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SetPasswordRequestType">
<xs:complexContent>
<xs:extension base="tns:RequestType">
<xs:sequence>
<xs:element form="qualified" name="psoID" type="tns:PSOIdentifierType"/>
<xs:element form="qualified" name="password" type="xs:string"/>
<xs:element form="qualified" minOccurs="0" name="currentPassword" type="xs:string"/>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="setPasswordResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:ResponseType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="resetPassword">
<xs:sequence>
<xs:element minOccurs="0" name="request" type="tns:ResetPasswordRequestType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ResetPasswordRequestType">
<xs:complexContent>
<xs:extension base="tns:RequestType">
<xs:sequence>
<xs:element form="qualified" name="psoID" type="tns:PSOIdentifierType"/>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="resetPasswordResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:ResetPasswordResponseType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ResetPasswordResponseType">
<xs:complexContent>
<xs:extension base="tns:ResponseType">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="password" type="xs:string"/>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:simpleType name="ModificationModeType">
<xs:restriction base="xs:string">
<xs:enumeration value="add"/>
<xs:enumeration value="replace"/>
<xs:enumeration value="delete"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="StatusCodeType">
<xs:restriction base="xs:string">
<xs:enumeration value="success"/>
<xs:enumeration value="failure"/>
<xs:enumeration value="successMoreResultsToReturn"/>
<xs:enumeration value="pending"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ErrorCode">
<xs:restriction base="xs:string">
<xs:enumeration value="malformedRequest"/>
<xs:enumeration value="unsupportedOperation"/>
<xs:enumeration value="unsupportedIdentifierType"/>
<xs:enumeration value="noSuchIdentifier"/>
<xs:enumeration value="customError"/>
<xs:enumeration value="otherError"/>
<xs:enumeration value="directoryError"/>
<xs:enumeration value="namingException"/>
<xs:enumeration value="operationNotSupportedException"/>
<xs:enumeration value="sqlError"/>
<xs:enumeration value="connectorError"/>
<xs:enumeration value="csvError"/>
<xs:enumeration value="invalidConfiguration"/>
<xs:enumeration value="invalidAttribute"/>
<xs:enumeration value="unsupportedExecutionMode"/>
<xs:enumeration value="invalidContainment"/>
<xs:enumeration value="noSuchRequest"/>
<xs:enumeration value="noSuchObject"/>
<xs:enumeration value="unsupportedSelectionType"/>
<xs:enumeration value="resultSetToLarge"/>
<xs:enumeration value="unsupportedProfile"/>
<xs:enumeration value="invalidIdentifier"/>
<xs:enumeration value="alreadyExists"/>
<xs:enumeration value="invalidManagedSysId"/>
<xs:enumeration value="userLimitReached"/>
<xs:enumeration value="operationError"/>
<xs:enumeration value="protocolError"/>
<xs:enumeration value="timeLimitExceeded"/>
<xs:enumeration value="sizeLimitExceeded"/>
<xs:enumeration value="compareFailed"/>
<xs:enumeration value="authenticationFailed"/>
<xs:enumeration value="sessionInvalid"/>
<xs:enumeration value="constraintViolation"/>
<xs:enumeration value="noSuchAttribute"/>
<xs:enumeration value="unDefinedType"/>
<xs:enumeration value="insufficientRights"/>
<xs:enumeration value="systemUnavailable"/>
<xs:enumeration value="objectClassViolation"/>
<xs:enumeration value="noResultsReturned"/>
<xs:enumeration value="containerNotEmpty"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AttributeOperationEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="nochange"/>
<xs:enumeration value="add"/>
<xs:enumeration value="replace"/>
<xs:enumeration value="delete"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ExecutionModeType">
<xs:restriction base="xs:string">
<xs:enumeration value="synchronous"/>
<xs:enumeration value="asynchronous"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ProvisionModelEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="role"/>
<xs:enumeration value="static"/>
<xs:enumeration value="rule"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ReturnDataType">
<xs:restriction base="xs:string">
<xs:enumeration value="identifier"/>
<xs:enumeration value="data"/>
<xs:enumeration value="everything"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="reconcileResource">
    <wsdl:part name="parameters" element="tns:reconcileResource">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resetPasswordResponse">
    <wsdl:part name="parameters" element="tns:resetPasswordResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyResponse">
    <wsdl:part name="parameters" element="tns:modifyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part name="parameters" element="tns:delete">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reconcileResourceResponse">
    <wsdl:part name="parameters" element="tns:reconcileResourceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resumeResponse">
    <wsdl:part name="parameters" element="tns:resumeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setPassword">
    <wsdl:part name="parameters" element="tns:setPassword">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resume">
    <wsdl:part name="parameters" element="tns:resume">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="parameters" element="tns:deleteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="suspendResponse">
    <wsdl:part name="parameters" element="tns:suspendResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setPasswordResponse">
    <wsdl:part name="parameters" element="tns:setPasswordResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validatePasswordResponse">
    <wsdl:part name="parameters" element="tns:validatePasswordResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lookupResponse">
    <wsdl:part name="parameters" element="tns:lookupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modify">
    <wsdl:part name="parameters" element="tns:modify">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testConnection">
    <wsdl:part name="parameters" element="tns:testConnection">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testConnectionResponse">
    <wsdl:part name="parameters" element="tns:testConnectionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="add">
    <wsdl:part name="parameters" element="tns:add">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="expirePasswordResponse">
    <wsdl:part name="parameters" element="tns:expirePasswordResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lookup">
    <wsdl:part name="parameters" element="tns:lookup">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part name="parameters" element="tns:addResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="suspend">
    <wsdl:part name="parameters" element="tns:suspend">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validatePassword">
    <wsdl:part name="parameters" element="tns:validatePassword">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="expirePassword">
    <wsdl:part name="parameters" element="tns:expirePassword">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resetPassword">
    <wsdl:part name="parameters" element="tns:resetPassword">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ConnectorService">
    <wsdl:operation name="add">
      <wsdl:input name="add" message="tns:add">
    </wsdl:input>
      <wsdl:output name="addResponse" message="tns:addResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resume">
      <wsdl:input name="resume" message="tns:resume">
    </wsdl:input>
      <wsdl:output name="resumeResponse" message="tns:resumeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reconcileResource">
      <wsdl:input name="reconcileResource" message="tns:reconcileResource">
    </wsdl:input>
      <wsdl:output name="reconcileResourceResponse" message="tns:reconcileResourceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testConnection">
      <wsdl:input name="testConnection" message="tns:testConnection">
    </wsdl:input>
      <wsdl:output name="testConnectionResponse" message="tns:testConnectionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="expirePassword">
      <wsdl:input name="expirePassword" message="tns:expirePassword">
    </wsdl:input>
      <wsdl:output name="expirePasswordResponse" message="tns:expirePasswordResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lookup">
      <wsdl:input name="lookup" message="tns:lookup">
    </wsdl:input>
      <wsdl:output name="lookupResponse" message="tns:lookupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input name="delete" message="tns:delete">
    </wsdl:input>
      <wsdl:output name="deleteResponse" message="tns:deleteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validatePassword">
      <wsdl:input name="validatePassword" message="tns:validatePassword">
    </wsdl:input>
      <wsdl:output name="validatePasswordResponse" message="tns:validatePasswordResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="suspend">
      <wsdl:input name="suspend" message="tns:suspend">
    </wsdl:input>
      <wsdl:output name="suspendResponse" message="tns:suspendResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modify">
      <wsdl:input name="modify" message="tns:modify">
    </wsdl:input>
      <wsdl:output name="modifyResponse" message="tns:modifyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPassword">
      <wsdl:input name="setPassword" message="tns:setPassword">
    </wsdl:input>
      <wsdl:output name="setPasswordResponse" message="tns:setPasswordResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetPassword">
      <wsdl:input name="resetPassword" message="tns:resetPassword">
    </wsdl:input>
      <wsdl:output name="resetPasswordResponse" message="tns:resetPasswordResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConnectorServiceServiceSoapBinding" type="tns:ConnectorService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="add">
      <soap:operation soapAction="http://www.openiam.org/service/connector/ConnectorService/add" style="document"/>
      <wsdl:input name="add">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resume">
      <soap:operation soapAction="http://www.openiam.org/service/connector/ConnectorService/resume" style="document"/>
      <wsdl:input name="resume">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="resumeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reconcileResource">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="reconcileResource">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reconcileResourceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testConnection">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="testConnection">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="testConnectionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="expirePassword">
      <soap:operation soapAction="http://www.openiam.org/service/connector/ConnectorService/expirePassword" style="document"/>
      <wsdl:input name="expirePassword">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="expirePasswordResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lookup">
      <soap:operation soapAction="http://www.openiam.org/service/connector/ConnectorService/lookup" style="document"/>
      <wsdl:input name="lookup">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="lookupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://www.openiam.org/service/connector/ConnectorService/delete" style="document"/>
      <wsdl:input name="delete">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validatePassword">
      <soap:operation soapAction="http://www.openiam.org/service/connector/ConnectorService/validatePassword" style="document"/>
      <wsdl:input name="validatePassword">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validatePasswordResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="suspend">
      <soap:operation soapAction="http://www.openiam.org/service/connector/ConnectorService/suspend" style="document"/>
      <wsdl:input name="suspend">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="suspendResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modify">
      <soap:operation soapAction="http://www.openiam.org/service/connector/ConnectorService/modify" style="document"/>
      <wsdl:input name="modify">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="modifyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPassword">
      <soap:operation soapAction="http://www.openiam.org/service/connector/ConnectorService/setPassword" style="document"/>
      <wsdl:input name="setPassword">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setPasswordResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetPassword">
      <soap:operation soapAction="http://www.openiam.org/service/connector/ConnectorService/resetPassword" style="document"/>
      <wsdl:input name="resetPassword">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="resetPasswordResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConnectorServiceService">
    <wsdl:port name="ConnectorServicePort" binding="tns:ConnectorServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/ConnectorServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
