idm/openiam-idm-esb/wsdl/NotificationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MailServiceService" targetNamespace="urn:idm.openiam.org/srvc/msg/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:idm.openiam.org/srvc/msg/service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:idm.openiam.org/srvc/msg/service" elementFormDefault="unqualified" targetNamespace="urn:idm.openiam.org/srvc/msg/service" version="1.0">
<xs:element name="NotificationRequest" type="tns:NotificationRequest"/>
<xs:element name="send" type="tns:send"/>
<xs:element name="sendNotificationRequest" type="tns:sendNotificationRequest"/>
<xs:element name="sendNotificationRequestResponse" type="tns:sendNotificationRequestResponse"/>
<xs:element name="sendResponse" type="tns:sendResponse"/>
<xs:element name="sendWithAttachment" type="tns:sendWithAttachment"/>
<xs:element name="sendWithAttachmentResponse" type="tns:sendWithAttachmentResponse"/>
<xs:complexType name="sendWithAttachment">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:string"/>
<xs:element minOccurs="0" name="arg3" type="xs:string"/>
<xs:element name="arg4" type="xs:boolean"/>
<xs:element minOccurs="0" name="arg5" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="sendWithAttachmentResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="sendNotificationRequest">
<xs:sequence>
<xs:element minOccurs="0" name="req" type="tns:NotificationRequest"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NotificationRequest">
<xs:sequence>
<xs:element minOccurs="0" name="notificationType" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="paramList" nillable="true" type="tns:NotificationParam"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NotificationParam">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="sendNotificationRequestResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:Response"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Response">
<xs:sequence>
<xs:element minOccurs="0" name="errorCode" type="tns:ResponseErrorCode"/>
<xs:element minOccurs="0" name="responseValue" type="xs:anyType"/>
<xs:element minOccurs="0" name="errorText" type="xs:string"/>
</xs:sequence>
<xs:attribute name="status" type="tns:ResponseStatus" use="required"/>
</xs:complexType>
<xs:complexType name="send">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:string"/>
<xs:element minOccurs="0" name="arg3" type="xs:string"/>
<xs:element name="arg4" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="sendResponse">
<xs:sequence/>
</xs:complexType>
<xs:simpleType name="ResponseStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="success"/>
<xs:enumeration value="failure"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ResponseErrorCode">
<xs:restriction base="xs:string">
<xs:enumeration value="objectNotFound"/>
<xs:enumeration value="classNotFound"/>
<xs:enumeration value="principalNotFound"/>
<xs:enumeration value="userNotFound"/>
<xs:enumeration value="userStatus"/>
<xs:enumeration value="supervisorlNotFound"/>
<xs:enumeration value="DUPLICATE_PRINCIPAL"/>
<xs:enumeration value="failPasswordPolicy"/>
<xs:enumeration value="groupIdNull"/>
<xs:enumeration value="groupIdInvalid"/>
<xs:enumeration value="roleIdNull"/>
<xs:enumeration value="roleIdInvalid"/>
<xs:enumeration value="objectIdInvalid"/>
<xs:enumeration value="success"/>
<xs:enumeration value="FAIL_SQL_ERORR"/>
<xs:enumeration value="FAIL_CONNECTION"/>
<xs:enumeration value="FAIL_ALPHA_CHAR_RULE"/>
<xs:enumeration value="FAIL_LOWER_CASE_RULE"/>
<xs:enumeration value="FAIL_UPPER_CASE_RULE"/>
<xs:enumeration value="FAIL_NON_APHANUMERIC_RULE"/>
<xs:enumeration value="FAIL_NUMERIC_CHAR_RULE"/>
<xs:enumeration value="FAIL_HISTORY_RULE"/>
<xs:enumeration value="FAIL_LENGTH_RULE"/>
<xs:enumeration value="FAIL_NEQ_NAME"/>
<xs:enumeration value="FAIL_NEQ_PASSWORD"/>
<xs:enumeration value="FAIL_NEQ_PRINCIPAL"/>
<xs:enumeration value="FAIL_PASSWORD_CHANGE_FREQUENCY"/>
<xs:enumeration value="PASSWORD_POLICY_NOT_FOUND"/>
<xs:enumeration value="FAIL_PASSWORD_CHANGE_ALLOW"/>
<xs:enumeration value="FAIL_REJECT_CHARS_IN_PSWD"/>
<xs:enumeration value="FAIL_ENCRYPTION"/>
<xs:enumeration value="FAIL_DECRYPTION"/>
<xs:enumeration value="DIRECTORY_NAMING_EXCEPTION"/>
<xs:enumeration value="COMMUNICATION_EXCEPTION"/>
<xs:enumeration value="FAIL_CONNECTOR"/>
<xs:enumeration value="INVALID_ARGUMENTS"/>
<xs:enumeration value="IO_EXCEPTION"/>
<xs:enumeration value="FILE_EXCEPTION"/>
<xs:enumeration value="SQL_EXCEPTION"/>
<xs:enumeration value="WS_SERVICE_EXCEPTION"/>
<xs:enumeration value="SYNCHRONIZATION_EXCEPTION"/>
<xs:enumeration value="LIMIT_EXCEEDED_EXCEPTION"/>
<xs:enumeration value="AUTHENTICATION_EXCEPTION"/>
<xs:enumeration value="PERMISSION_EXCEPTION"/>
<xs:enumeration value="SERVICE_UNAVAILABLE_EXCEPTION"/>
<xs:enumeration value="SCHEMA_VIOLATION_EXCEPTION"/>
<xs:enumeration value="FAIL_PREPROCESSOR"/>
<xs:enumeration value="FAIL_POSTPROCESSOR"/>
<xs:enumeration value="FAIL_PROCESS_ALREADY_RUNNING"/>
<xs:enumeration value="MISSING_REQUIRED_ATTRIBUTE"/>
<xs:enumeration value="FAIL_OTHER"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="sendResponse">
    <wsdl:part name="parameters" element="tns:sendResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendNotificationRequest">
    <wsdl:part name="parameters" element="tns:sendNotificationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendWithAttachmentResponse">
    <wsdl:part name="parameters" element="tns:sendWithAttachmentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="send">
    <wsdl:part name="parameters" element="tns:send">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendWithAttachment">
    <wsdl:part name="parameters" element="tns:sendWithAttachment">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendNotificationRequestResponse">
    <wsdl:part name="parameters" element="tns:sendNotificationRequestResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmailWebService">
    <wsdl:operation name="sendWithAttachment">
      <wsdl:input name="sendWithAttachment" message="tns:sendWithAttachment">
    </wsdl:input>
      <wsdl:output name="sendWithAttachmentResponse" message="tns:sendWithAttachmentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendNotificationRequest">
      <wsdl:input name="sendNotificationRequest" message="tns:sendNotificationRequest">
    </wsdl:input>
      <wsdl:output name="sendNotificationRequestResponse" message="tns:sendNotificationRequestResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="send">
      <wsdl:input name="send" message="tns:send">
    </wsdl:input>
      <wsdl:output name="sendResponse" message="tns:sendResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MailServiceServiceSoapBinding" type="tns:EmailWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendWithAttachment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sendWithAttachment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendWithAttachmentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendNotificationRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sendNotificationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendNotificationRequestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="send">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="send">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MailServiceService">
    <wsdl:port name="EmailWebServicePort" binding="tns:MailServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/EmailWebServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
